<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>KOHAKU</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet"> 
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="nav navbar-nav" href="index.html"><img src="images/logo.png"alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Inicio</a></li>  
                        <li class="scroll"><a href="#services">Servicios</a></li>
                        <li class="scroll"><a href="#about">Sobre nosotros</a></li> 
                        <li class="scroll"><a href="#team">Instructores</a></li> 
						 <li class="scroll"><a href="#portfolio">Galería</a></li>
                        <li class="scroll"><a href="#pricing">Ofertas</a></li>
                        <li class="scroll"><a href="#contact-us">Contactenos</a></li>   
                        <li class="scroll"><a href="iniciar.html">Iniciar Sesión</a></li>                      
                    </ul>
                </div>
            </div> <!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="hero-banner">
      <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li> 
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>KOHAKU</h1>        
            <h3>Únete ahora</h3>
        </hgroup> 
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Escuela DOJO</h1>        
            <h3>Únete ahora</h3>
        </hgroup>        
      </div>
    </div> 
    </div>
  </div> 
</div>
    </section><!--/#main-slider-->
	<section id="mainservice" >
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
				<img class="img-responsive" src="images/portfolio/01.jpg" alt="">
					<div class="caption">
					<h3>Arte Marcial Tradicional</h3>
					<p>Estudiamos la técnica y filosofía de los legendarios guerreros Samurái y Ninja de Japón, con noción moderna e integral.</p>
					<p class="price">Lun - Vie: 7am - 6pm</p>
					<p><h4>$90.000/mes</h4></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
				<img class="img-responsive" src="images/portfolio/02.jpg" alt="">
					<div class="caption">
					<h3>Defensa Femenina</h3>
					<p>Desarrollamos destrezas y tácticas sencillas para enfrentar la violencia que amenaza nuestra integridad física.</p>
					<p class="price">Lun - Vie: 7am - 6pm</p>
					<p><h4>$90.000/mes</h4></p>
					</div>
				</div>
			</div>
				<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
				<img class="img-responsive" src="images/portfolio/03.jpg" alt="">
					<div class="caption">
					<h3>Crecimiento Humano</h3>
					<p>Realizamos actividades para despertar consciencia, ganar autoconfianza y liberar nuestro potencial personal.</p>
					<p class="price">Lun - Vie: 7am - 6pm</p>
					<p><h4>$90.000/mes</h4></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown white">Nuestros Servicios</h2>
                <p class="wow fadeInDown">El Ninjutsu, como Arte Marcial Tradicional Japonés, es también un “Camino de Perfeccionamiento Personal”.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-flag-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Arte Marcial Tradicional</h4>
                                <p>Estudiamos la técnica y filosofía de los legendarios guerreros Samurái y Ninja de Japón, con noción moderna e integral.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Defensa Personal</h4>
                                <p>Desarrollamos destrezas y tácticas sencillas para resolver la violencia que amenaza a nuestra integridad física.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-send-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Crecimiento Personal</h4>
                                <p>Realizamos actividades con el fin de lograr una mejora a nivel personal, que permita liberar el potencial humano.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-retweet"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">KARATE</h4>
                                <p>Es un arte marcial Japones que tuvo su origen en la isla de Okinawa, donde se utiliza todo el cuerpo para defender y golpear.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">JUDO</h4>
                                <p>Arte marcial Judo es un arte de ataque y defensa a través de proyecciones con técnicas de brazo cadera y pie.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">AIKIDO</h4>
                                <p>Aikido es el camino de la energia y la armonia, este es un sistema de combate de origen japonés que se utiliza para la defensa personal.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

 <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Sobre Nosotros</h2>
                
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" src="images/about.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Nuestra Escuela DOJO</h3>
                    <p>Somos los representantes oficiales en Colombia de La Japan Karate Association/World Federation (JKA). La JKA es la organización más grande y prestigiosa del mundo con más de 100 países afiliados, siendo la máxima autoridad de Karate-Do Shotokan en el mundo.</p>

                    <p>En la JKA el karate no es simplemente un deporte, es un arte marcial cuyo objetivo es la armonización de la mente y el cuerpo; para lograr equilibrio, fuerza, perseverancia, confianza y dominio de sí mismo. </p>
<p class="wow fadeInDown">En la JKA estamos dedicados a la preservación del alma y espíritu del arte de «Kokufu-Bunka Karate-Do».<br> «Somos los Guardianes de las más altas Tradiciones del Karate-Do”.</p>
					

 
                </div>
            </div>
        </div>
    </section><!--/#about-->
 
   <section id="team">
<div class="container">
<div class="section-header">
                <h2 class="section-title wow fadeInDown">Equipo Intructores</h2>
                <p class="wow fadeInDown">Instrucción Calificada y Autorizada de Ninjutsu Japonés 
            </div>			
<div class="row" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="team-wrapper">
<div class="team-inner" style="background-image: url('images/team/01.jpg')">
<a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
</div>
<div class="description">
<h3>Juan Ramirez</h3>
<h5> <strong> Fundador </strong></h5>
<p>
Instructor desde 1986, haciendo parte de Bujinkan 1993.
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="team-wrapper">
<div class="team-inner" style="background-image: url('images/team/02.jpg')">
<a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
</div>
<div class="description">
<h3> Andres Gonzales</h3>
<h5> <strong> Entrenador </strong></h5>
<p>
5° DAN JKA desde 2005, trayectoria internacional.
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="team-wrapper">
<div class="team-inner" style="background-image: url('images/team/03.jpg')">
<a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
</div>
<div class="description">
<h3> Mario Sanchez</h3>
<h5> <strong> Entrenador </strong></h5>
<p>
4° DAN JKA, Representante para Latinoamerica.
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="team-wrapper">
<div class="team-inner" style="background-image: url('images/team/04.jpg')">
<a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
</div>
<div class="description">
<h3> Sebastian Melo</h3>
<h5> <strong> Entrenador </strong></h5>
<p>
3° DAN JKA En Colombia es uno de los mas altos calificados.
</p>
</div>
</div>
</div>
</div>
</div>
</section>

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Galeria</h2>
                <p class="wow fadeInDown">Clases muy dinamicas con diciplina dirigidas a niños jovenes y adultos.<br> Empezamos con lo basico en defensas y clases de tecnicas.</p>
            </div>

            <div class="text-center divhide">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Trabajos</a></li>
                    <li><a href="#" data-filter=".designing">Diseño</a></li>
                    <li><a href="#" data-filter=".mobile">Mobil App</a></li>
                    <li><a href="#" data-filter=".development">Desarrollo</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                             <a class="preview" href="images/portfolio/03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Proyecto</h3>
                            <a class="preview" href="images/portfolio/08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

   
       <section id="business-stats">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Nuestras Estadisticas</h2>
                <p class="wow fadeInDown">hace unos 25 años enseñamos karate do mas de 6850 alumnos.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="business-stats" data-digit="6850" data-duration="1000"></div>
                        <strong>Alumnos</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="business-stats" data-digit="1465" data-duration="1000"></div>
                        <strong>Certificados</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="business-stats" data-digit="4325" data-duration="1000"></div>
                        <strong>En Progreso</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="business-stats" data-digit="2568" data-duration="1000"></div>
                        <strong>Docentes</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#business-stats-->

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Ofertas</h2>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $45.000
                                    </span> 
                                </div>

                                <div class="plan-name">
                                    Basico
                                </div>
                            </li>
<li>Artes marciales</li>
<li>Autodefensa</li>
<li>Karate</li>
<li></li>
<li></li>



                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Contactanos!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $85.000
                                    </span> 
                                </div>

                                <div class="plan-name">
                                    Medio
                                </div>
                            </li>                           
                                <li>Artes marciales</li>
                                <li>Autodefensa</li>
                                <li>Karate</li>
                                <li>Judo</li>

                                <li class="plan-purchase"><a class="btn btn-primary" href="#">Contactanos!</a></li>
                            </ul></div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                                <ul class="pricing featured">
                                <li class="plan-header">
                                <div class="price-duration">
                                <span class="price">
                                        $125.000
                                    </span> 
                                </div>

                                <div class="plan-name">
                                    Profesional
                                </div>
                            </li>                           
<li>Artes marciales</li>
<li>Karate</li>
<li>Judo</li>
<li>Ninjutsu</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Contactenos!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $185.000
                                    </span> 
                                </div>

                                <div class="plan-name">
                                    Master
                                </div>
                            </li>                          
<li>Artes marciales</li>
<li>Judo</li>
<li>Ninjutsu</li>
<li>Lucha libre</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Contactenos!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->

    <section class="testimonial-area" id="testimonial">
			<div class="container">
				<div class="section-header">
                <h2 class="section-title wow fadeInDown"> Testimonios</h2>
                
            </div>
				<div class="row">
					<div class="col-md-4">
						<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
							<div class="row">
								<div class="col-xs-12">
									<blockquote>Dojo con una formación integral. Los sensei son excelentes maestros y transmiten el karate y su cultura a niños, adolescentes y adultos.</blockquote>
								</div>
							</div>
							<div class="row"> 
								<div class="col-xs-12">
									<h5>Juliana Romero</h5>
									<h6>Estudiante</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
							<div class="row">
								<div class="col-xs-12">
									<blockquote>Excelente formación, super recomendado para niños.</blockquote>
								</div>
							</div>
							<div class="row"> 
								<div class="col-xs-12">
									<h5>Paula Fernandez</h5>
									<h6>Estudiante</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
							<div class="row">
								<div class="col-xs-12">
									<blockquote>Enseñan arte marciales tradicionales, como el Goju Ryu de Okinawa e Iaido Katayama, Houki Ryu. Conserva y transmiten los valores y costumbres de la cultura japonesa.</blockquote>
								</div>
							</div>
							<div class="row"> 
								<div class="col-xs-12">
									<h5>Pedro Alvarado</h5>
									<h6>Estudiante</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section id="contact-us">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Contactenos</h2>
                <p class="wow fadeInDown">No olvides solicitar tu clase de cortesia.</p>
            </div>
        </div>
    </section><!--/#contact-us-->


    <section id="contact">
        
        <div class="container">
            <div class="container contact-info">
                <div class="row">
				  <div class="col-sm-4 col-md-4">
                        <div class="contact-form"> 
                            <address>
                              <strong>KOHAKU.</strong><br>
                              Carrera 7 No. 126-85<br>
                              Bogotá - Colombia<br>
                              <abbr title="Phone">Cel:</abbr> 310 256 55 99
                            </address>
					</div></div>
                    <div class="col-sm-8 col-md-8">
                        <div class="contact-form">
                                      <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
        
		<form name="sentMessage" id="contactForm"  novalidate> 
		 <div class="control-group">
                    <div class="controls">
			<input type="text" class="form-control" 
			   	   placeholder="Nombres y Apellidos" id="name" required
			           data-validation-required-message="Please enter your name" />
			  <p class="help-block"></p>
		   </div>
	         </div> 	
                <div class="control-group">
                  <div class="controls">
			<input type="email" class="form-control" placeholder="Correo Electronico" 
			   	            id="email" required
			   		   data-validation-required-message="Please enter your email" />
		</div>
	    </div> 	
			  
               <div class="control-group">
                 <div class="controls">
				 <textarea rows="10" cols="100" class="form-control" 
                       placeholder="Mensaje" id="message" required
		       data-validation-required-message="Please enter your message" minlength="5" 
                       data-validation-minlength-message="Min 5 characters" 
                        maxlength="999" style="resize:none"></textarea>
		</div>
               </div> 		 
	     <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-primary pull-right">Enviar</button><br />
          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
   </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2021 Kohaku. <a target="_blank" href="https://webthemez.com/tag/free" target="_blank">admin@kohaku.com</a></a>
                </div>
                <!--<div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="contact/jqBootstrapValidation.js"></script>
    <script src="contact/contact_me.js"></script>
    <script src="js/custom-scripts.js"></script>
</body>
</html>